<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ng-container [ngSwitch]="folder">
    <!-- Modal -->
    <ng-container *ngSwitchCase="'Modal'">
      <ion-button (click)="showModal()" shape="round">Show Modal</ion-button
      ><br />
      <ion-button (click)="showCardModal()" shape="round"
        >Show Popover Modal</ion-button
      ><br />
      <ion-button (click)="showSheetModal()" shape="round"
        >Show Sheet Modal</ion-button
      ><br />
      <ion-button (click)="showSheetModal(0.25)" shape="round"
        >Show Sheet Modal 0.25</ion-button
      >
    </ng-container>
    <!-- Input Fields -->
    <ng-container *ngSwitchCase="'Input'">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="4">
          <ion-list class="ion-padding-top" [inset]="false">
          <ion-item fill="outline" shape="round" mode="md">
            <ion-label position="floating">
              Outline Floating Label Round
            </ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item fill="solid" shape="round" mode="md" class="ion-margin-top">
            <ion-label position="floating">
              Filled Floating Label Round
            </ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item fill="outline" mode="md" class="ion-margin-top">
            <ion-label position="floating"> Outline Floating Label </ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item fill="solid" mode="md" class="ion-margin-top">
            <ion-label position="floating"> Filled Floating Label </ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item class="ion-margin-top">
            <ion-label position="floating">
              Default Floating Label iOS
            </ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item class="ion-margin-top" mode="md">
            <ion-label position="floating">
              Default Floating Label Android
            </ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ng-container>
  </ng-container>
</ion-content>
